services:
  web:
    build:
      context: ./
    restart: always
    labels:
      - traefik.enable=true
      - traefik.http.routers.kdsx-web.entrypoints=web, websecure
      - traefik.http.routers.kdsx-web.rule=Host(`kdsx.uz`) || Host(`www.kdsx.uz`)
      - traefik.http.services.kdsx-web.loadbalancer.server.url=https://kdsx.vercel.app
      - traefik.http.services.kdsx-web.loadbalancer.passhostheader=true
    networks:
      - app

networks:
  app:
    name: app
    external: true
