<footer id="contact" class="bg-[#0C111D]">
  <div class="container mx-auto text-center">
    <div class="w-full">
      <div class="w-full py-10 px-4 sm:px-6 lg:px-8 mx-auto">
        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-6 text-left">
          <div class="col-span-full lg:col-span-1">
            <h4 class="font-semibold text-gray-100">Контакт</h4>
            <div class="mt-3 grid space-y-3">
              <p><a class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 dark:text-neutral-400 dark:hover:text-neutral-200" href="tel:+998941500330">+998941500330</a></p>
            </div>
          </div>
          <div class="col-span-1">
            <h4 class="font-semibold text-gray-100">Продукт</h4>
            <div class="mt-3 grid space-y-3">
              <span><a class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 dark:text-neutral-400 dark:hover:text-neutral-200" href="#pricing">Цены</a></span>
              <p><a title="Вскоре" class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 dark:text-neutral-400 dark:hover:text-neutral-200">Изменения</a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-construction text-gray-400 inline-flex ml-2"><rect x="2" y="6" width="20" height="8" rx="1"/><path d="M17 14v7"/><path d="M7 14v7"/><path d="M17 3v3"/><path d="M7 3v3"/><path d="M10 14 2.3 6.3"/><path d="m14 6 7.7 7.7"/><path d="m8 6 8 8"/></svg></p>
              <p><a title="Вскоре" class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 dark:text-neutral-400 dark:hover:text-neutral-200">Документы</a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-construction text-gray-400 inline-flex ml-2"><rect x="2" y="6" width="20" height="8" rx="1"/><path d="M17 14v7"/><path d="M7 14v7"/><path d="M17 3v3"/><path d="M7 3v3"/><path d="M10 14 2.3 6.3"/><path d="m14 6 7.7 7.7"/><path d="m8 6 8 8"/></svg></p>
            </div>
          </div>
          <div class="col-span-1">
            <h4 class="font-semibold text-gray-100">Компания</h4>
            <div class="mt-3 grid space-y-3">
              <span><a class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 dark:text-neutral-400 dark:hover:text-neutral-200" href="#">О нас</a></span>
              <p><a class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 dark:text-neutral-400 dark:hover:text-neutral-200" href="/blog/">Блог</a></p>
              <p><a class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 dark:text-neutral-400 dark:hover:text-neutral-200" title="Вскоре">Карьера</a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-construction text-gray-400 inline-flex ml-2"><rect x="2" y="6" width="20" height="8" rx="1"/><path d="M17 14v7"/><path d="M7 14v7"/><path d="M17 3v3"/><path d="M7 3v3"/><path d="M10 14 2.3 6.3"/><path d="m14 6 7.7 7.7"/><path d="m8 6 8 8"/></svg></p>
              <p><a class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 dark:text-neutral-400 dark:hover:text-neutral-200" href="#reviews">Клиенты</a></p>
            </div>
          </div>
          <div class="col-span-2">
            <h4 class="text-left font-semibold text-gray-100">Будьте в курсе</h4>
            <form>
              <div class="mt-4 flex flex-col items-center gap-2 sm:flex-row sm:gap-3 bg-white rounded-lg p-2">
                <div class="w-full">
                  <label for="hero-input" class="sr-only">Поиск</label>
                  <input type="text" id="hero-input" name="hero-input" class="py-3 px-4 block w-full border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:border-transparent dark:text-neutral-400 dark:focus:ring-neutral-600" placeholder="Введите ваш email" />
                </div>
                <a class="w-full sm:w-auto whitespace-nowrap p-3 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" href="#"> Подписаться </a>
              </div>
              <p class="text-left mt-3 text-sm text-gray-400">Новости или большие скидки. Никогда не спамим.</p>
            </form>
          </div>
        </div>
        <hr class="mt-10 border-t border-gray-300 border-opacity-10" />
        <div class="mt-5 sm:mt-12 grid gap-y-2 sm:gap-y-0 sm:flex sm:justify-between items-center">
          <div class="flex justify-between items-center">
            <p class="text-sm text-gray-400 dark:text-neutral-400 text-center md:text-left mx-auto">© 2024 KDSX POS. Все права защищены.</p>
          </div>
          <div class="text-white flex gap-2 justify-center">
            <div class="flex items-center">
              <a
                  href="/uz/"
                  class="text-primary dark:text-primary-400"
                  title="UZ"
                  >
                  <button>
                  <img src="https://cdn.icon-icons.com/icons2/1694/PNG/512/uzuzbekistanflag_111713.png" alt="" class="h-5 w-7 flex-shrink-0">
                  </button>
              </a>
            </div>
            <div class="flex items-center">
              <a
                  href="/en/"
                  class="text-primary dark:text-primary-400"
                  title="EN"
                  >
                  <button>
                  <img src="https://cdn.icon-icons.com/icons2/1694/PNG/512/usunitedstatesflag_111929.png" alt="" class="h-5 w-7 flex-shrink-0">
                  </button>
              </a>
            </div>
             <div class="flex items-center">
              <a
                  href="/ru/"
                  class="text-primary dark:text-primary-400"
                  title="RU"
                  >
                  <button>
                  <img src="https://cdn.icon-icons.com/icons2/1694/PNG/512/rurussiaflag_111751.png" alt="" class="h-5 w-7 flex-shrink-0">
                  </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
