    
   <div id="openModal" class="w-full md:max-w-2xl mx-auto hidden absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50">
      <div class="p-6">
                <div class="relative w-full p-6 rounded mx-auto">
                <button id="closeModalBtn" class="absolute top-0 right-0 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x text-white hover:text-black"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg></button>
          <iframe id="iFrame" class="w-full aspect-video" width="560" height="315" src="https://www.youtube.com/embed/wvHXht7RUbs?si=AQJ-_uSqXq7Q8zwC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              <!-- <h3 class="mt-6 text-lg font-bold text-gray-800">KDSX qanday ishlaydi?</h3> -->
            </div>
     </div>
     </div>